<!-- <nav class="navbar navbar-expand-lg bg-info">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="#pablo">Info Color</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#example-navbar-info" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-info">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#pablo">
                        <p>Discover</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#pablo">
                        <p>Profile</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#pablo">
                        <p>Settings</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->

<br><br>
<div class="section section-tabs">
    <div class="container">
        <div class="row">
            <div class="col-md-10  col-xl-6">
                <p class="category text-center"> Formation Telétravail - travail  distance</p>
                <!-- <div class="card-header text-center">
                    Formation Telétravail - travail  distance
                 </div> -->
                <!-- Tabs with Background on Card -->
                <div class="card" >                                   
                      <!--Div class mihetsika-->
                    <div class="card-box-a card-shadow " >    
                                    
                        <div class="img-box-a">
                          <img src="../../../../assets/img/profile.jpg" alt="" class="img-a img-fluid">
                        </div>                        
                        <div class="card-overlay">
                            <div class="card-overlay-a-content">
                              <div class="card-header-a">
                                <h2 class="card-title-a">
                                  <a href="#">Formation Telétravail - travail  distance</a>
                                </h2>
                              </div>
                              <div class="card-body-a">
                                <div class="price-box d-flex">
                                    <button class="btn btn btn-info btn-round" type="button" (click)=" navigatedetailformation()">
                                        Voir détails
                                    </button>
                                </div>                             
                              </div>
                              <div class="card-footer-a">
                                  <div class="row">
                                      <div class="col-md-6">
                                        <div class="typography-line">
                                            <br>
                                            <h6 style="color: white !important;">Formation complet </h6>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="typography-line">
                                            <br>
                                            <h6 style="color: white !important;">Durrée: 2H : 46 min</h6>
                                        </div>
                                      </div>
                                  </div>
                            
                              </div>
                            </div>
                          </div>
                      </div>
                    <!--Fin div mihetsika-->                      
               
                </div>
                <!-- End Tabs on plain Card -->
            </div>     
            <div class="col-md-10  col-xl-6">
                <!-- <p class="category">Nom de formation</p> -->
                <p class="category text-center"> Formation Telétravail - travail  distance</p>
                <!-- <div class="card-header text-center">
                    Formation Telétravail - travail  distance
                 </div> -->
                <!-- Tabs with Background on Card -->
                <div class="card" >                                   
                      <!--Div class mihetsika-->
                    <div class="card-box-a card-shadow " >    
                                    
                        <div class="img-box-a">
                          <img src="../../../../assets/img/profile.jpg" alt="" class="img-a img-fluid">
                        </div>                        
                        <div class="card-overlay">
                            <div class="card-overlay-a-content">
                              <div class="card-header-a">
                                <h2 class="card-title-a">
                                  <a href="#">Formation Telétravail - travail  distance</a>
                                </h2>
                              </div>
                              <div class="card-body-a">
                                <div class="price-box d-flex">
                                    <button class="btn btn btn-info btn-round" type="button" (click)=" navigatedetailformation()">
                                        Voir détails
                                    </button>
                                </div>                                      
                              </div>
                              <div class="card-footer-a">
                                  <div class="row">
                                      <div class="col-md-6">
                                        <div class="typography-line">
                                            <br>
                                            <h6 style="color: white !important;">Formation complet </h6>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="typography-line">
                                            <br>
                                            <h6 style="color: white !important;">Durrée: 2H : 46 min</h6>
                                        </div>
                                      </div>
                                  </div>
                            
                              </div>
                            </div>
                          </div>
                      </div>
                    <!--Fin div mihetsika-->



                      
               
                </div>
                <!-- End Tabs on plain Card -->
            </div>   
        </div>
   
        <div class="row">
          <div class="col-md-10  col-xl-6">
              <p class="category text-center"> Formation Telétravail - travail  distance</p>
              <!-- <div class="card-header text-center">
                  Formation Telétravail - travail  distance
               </div> -->
              <!-- Tabs with Background on Card -->
              <div class="card" >                                   
                    <!--Div class mihetsika-->
                  <div class="card-box-a card-shadow " >    
                                  
                      <div class="img-box-a">
                        <img src="../../../../assets/img/profile.jpg" alt="" class="img-a img-fluid">
                      </div>                        
                      <div class="card-overlay">
                          <div class="card-overlay-a-content">
                            <div class="card-header-a">
                              <h2 class="card-title-a">
                                <a href="#">Formation Telétravail - travail  distance</a>
                              </h2>
                            </div>
                            <div class="card-body-a">
                              <div class="price-box d-flex">
                                  <button class="btn btn btn-info btn-round" type="button">
                                      Voir détails
                                  </button>
                              </div>                             
                            </div>
                            <div class="card-footer-a">
                                <div class="row">
                                    <div class="col-md-6">
                                      <div class="typography-line">
                                          <br>
                                          <h6 style="color: white !important;">Formation complet </h6>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="typography-line">
                                          <br>
                                          <h6 style="color: white !important;">Durrée: 2H : 46 min</h6>
                                      </div>
                                    </div>
                                </div>
                          
                            </div>
                          </div>
                        </div>
                    </div>
                  <!--Fin div mihetsika-->                      
             
              </div>
              <!-- End Tabs on plain Card -->
          </div>     
          <div class="col-md-10  col-xl-6">
              <!-- <p class="category">Nom de formation</p> -->
              <p class="category text-center"> Formation Telétravail - travail  distance</p>
              <!-- <div class="card-header text-center">
                  Formation Telétravail - travail  distance
               </div> -->
              <!-- Tabs with Background on Card -->
              <div class="card" >                                   
                    <!--Div class mihetsika-->
                  <div class="card-box-a card-shadow " >    
                                  
                      <div class="img-box-a">
                        <img src="../../../../assets/img/profile.jpg" alt="" class="img-a img-fluid">
                      </div>                        
                      <div class="card-overlay">
                          <div class="card-overlay-a-content">
                            <div class="card-header-a">
                              <h2 class="card-title-a">
                                <a href="#">Formation Telétravail - travail  distance</a>
                              </h2>
                            </div>
                            <div class="card-body-a">
                              <div class="price-box d-flex">
                                  <button class="btn btn btn-info btn-round" type="button">
                                      Voir détails
                                  </button>
                              </div>                                      
                            </div>
                            <div class="card-footer-a">
                                <div class="row">
                                    <div class="col-md-6">
                                      <div class="typography-line">
                                          <br>
                                          <h6 style="color: white !important;">Formation complet </h6>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="typography-line">
                                          <br>
                                          <h6 style="color: white !important;">Durrée: 2H : 46 min</h6>
                                      </div>
                                    </div>
                                </div>
                          
                            </div>
                          </div>
                        </div>
                    </div>
                  <!--Fin div mihetsika-->



                    
             
              </div>
              <!-- End Tabs on plain Card -->
          </div>   
      </div>
      <div class="row">
        <div class="col-md-10  col-xl-6">
            <p class="category text-center"> Formation Telétravail - travail  distance</p>
            <!-- <div class="card-header text-center">
                Formation Telétravail - travail  distance
             </div> -->
            <!-- Tabs with Background on Card -->
            <div class="card" >                                   
                  <!--Div class mihetsika-->
                <div class="card-box-a card-shadow " >    
                                
                    <div class="img-box-a">
                      <img src="../../../../assets/img/profile.jpg" alt="" class="img-a img-fluid">
                    </div>                        
                    <div class="card-overlay">
                        <div class="card-overlay-a-content">
                          <div class="card-header-a">
                            <h2 class="card-title-a">
                              <a href="#">Formation Telétravail - travail  distance</a>
                            </h2>
                          </div>
                          <div class="card-body-a">
                            <div class="price-box d-flex">
                                <button class="btn btn btn-info btn-round" type="button">
                                    Voir détails
                                </button>
                            </div>                             
                          </div>
                          <div class="card-footer-a">
                              <div class="row">
                                  <div class="col-md-6">
                                    <div class="typography-line">
                                        <br>
                                        <h6 style="color: white !important;">Formation complet </h6>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="typography-line">
                                        <br>
                                        <h6 style="color: white !important;">Durrée: 2H : 46 min</h6>
                                    </div>
                                  </div>
                              </div>
                        
                          </div>
                        </div>
                      </div>
                  </div>
                <!--Fin div mihetsika-->                      
           
            </div>
            <!-- End Tabs on plain Card -->
        </div>     
        <div class="col-md-10  col-xl-6">
            <!-- <p class="category">Nom de formation</p> -->
            <p class="category text-center"> Formation Telétravail - travail  distance</p>
            <!-- <div class="card-header text-center">
                Formation Telétravail - travail  distance
             </div> -->
            <!-- Tabs with Background on Card -->
            <div class="card" >                                   
                  <!--Div class mihetsika-->
                <div class="card-box-a card-shadow " >    
                                
                    <div class="img-box-a">
                      <img src="../../../../assets/img/profile.jpg" alt="" class="img-a img-fluid">
                    </div>                        
                    <div class="card-overlay">
                        <div class="card-overlay-a-content">
                          <div class="card-header-a">
                            <h2 class="card-title-a">
                              <a href="#">Formation Telétravail - travail  distance</a>
                            </h2>
                          </div>
                          <div class="card-body-a">
                            <div class="price-box d-flex">
                                <button class="btn btn btn-info btn-round" type="button">
                                    Voir détails
                                </button>
                            </div>                                      
                          </div>
                          <div class="card-footer-a">
                              <div class="row">
                                  <div class="col-md-6">
                                    <div class="typography-line">
                                        <br>
                                        <h6 style="color: white !important;">Formation complet </h6>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="typography-line">
                                        <br>
                                        <h6 style="color: white !important;">Durrée: 2H : 46 min</h6>
                                    </div>
                                  </div>
                              </div>
                        
                          </div>
                        </div>
                      </div>
                  </div>
                <!--Fin div mihetsika-->



                  
           
            </div>
            <!-- End Tabs on plain Card -->
        </div>   
    </div>
        <!--pagination-->
              <div class="row">
                  <div class="col-md-6">                                        
                  </div>
                  <div class="col-md-6">
                    <ngb-pagination [collectionSize]="50" [(page)]="page" aria-label="Default pagination" class="pagination-primary"></ngb-pagination>
                                       
                              
              </div>
          </div>
    
              <!--fin pagination-->
    </div>
</div>
      

