

<div class="limiter">
    <div class="container-login100" style="background-image: url('../../../../../../assets/img/header.jpg');">
        <div class="wrap-login100 p-t-30 p-b-50">
            <span class="login100-form-title p-b-41">
                Connectez-vous à votre compte
            </span>
            <form class="login100-form validate-form p-b-33 p-t-5" (ngSubmit)="getLog()">

                <div class="form-group  wrap-input100 validate-input" data-validate = "Nom utilisateur">
                    <input class="input100  form-control" type="text" name="text" [(ngModel)]="initlog.username"  placeholder="Nom utilisateur" required>                       
                    <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                </div>                                   
                <div class="form-group wrap-input100 validate-input" data-validate="Enter password">
                    <input class="input100" type="password" name="password" [(ngModel)]="initlog.password" placeholder="entrer votre mot de passe" required>
                    <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                </div>
                <br>                    
                <div class="form-group"> 
                    <p *ngIf="this.stathttp === true " class="text-danger text-center">
                        connexion reussi </p>  
                        <p *ngIf="this.stathttp === false " class="text-danger text-center">
                            Veuillez verifier votre mot de passe ou nom </p>
                </div>
                <div class="container-login100-form-btn m-t-32">
                    <button class="login100-form-btn">
                        Enregistrer
                    </button>
                </div>
                <br>
                <a href="#" routerLink="/Authentification/nouveau_compte"><p style="text-align:center;color: dodgerblue;">Créer nouveau compte</p></a>
                <br>
            

            </form>
        	
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

