<button class="btn btn-primary" (click)="open(classic,'' , '')">
 Launch Modal
</button>
<ng-template #classic let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <button type="button" class="close" (click)="d('Cross click')">
            <i class="now-ui-icons ui-1_simple-remove"></i>
        </button>
        <h4 class="title title-up">Modal title</h4>
    </div>
    <div class="modal-body">
        <div class="col-sm-12 form-group">
            <label  class="texte-content">Nom</label>
            <input type="text" class="form-control"  name="idDemande" style="width:100%" >
        </div><br>
        <div class="col-sm-12 form-group">
            <label  class="texte-content">Prénom </label>
            <input type="text" class="form-control"  name="idDemande" style="width:100%" >
        </div><br>
        <div class="col-sm-12 form-group">
            <label  class="texte-content">Email </label>
            <input type="text" class="form-control"  name="idDemande" style="width:100%" >
        </div><br>
        <div class="col-sm-12 form-group">
            <label  class="texte-content">Télephone </label>
            <input type="text" class="form-control"  name="idDemande" style="width:100%" >
        </div><br>
        <div class="col-sm-12 observe" style="padding-top: 1%">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Observation</span>
              </div>
              <textarea class="form-control" aria-label="With textarea" [(ngModel)]="dataUpdateEtat.observation" [value]="dataUpdateEtat.observation" name="observation"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default">Nice Button</button>
        <button type="button" class="btn btn-danger" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<!-- <button class="btn btn-warning" (click)="open(modal_mini, 'modal_mini', 'sm')">
   Launch Modal Mini
</button>
<ng-template #modal_mini let-c="close" let-d="dismiss">
  <div class="modal-header justify-content-center">
      <div class="modal-profile">
          <i class="now-ui-icons users_circle-08"></i>
      </div>
  </div>
  <div class="modal-body">
      <p>Always have an access to your profile</p>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-link btn-neutral">Back</button>
      <button type="button" class="btn btn-link btn-neutral" (click)="c('Close click')">Close</button>
  </div>
</ng-template> -->

