
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!-- <div class="section section-pagination">
    <div class="container">
        <ngb-tabset type="pills" class="nav nav-pills nav-pills-primary justify-content-start tab-space nav-pills-just-icons">
            <ngb-tab>
              <ng-template ngbTabTitle>
                <i class="far fa-gem"></i>
              </ng-template>
                <ng-template ngbTabContent>
                </ng-template>
            </ngb-tab>
        
        </ngb-tabset>
    </div>
</div> -->
<br><br>
<app-footer></app-footer>