<br>
<br>
<span>PLANIFICATION DE L'AGENDA</span>
<div class="col-md-12">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-2" style="margin-top: 2%;">
                  <div>
                    <label>Cours en attente de validation</label>
                    <span style="display: block;width: 100%; height: 10px; background-color: rgb(27, 70, 134);"></span>
                  </div>
                  <br>
                  <div>
                    <label>Plannifié</label>
                    <span style="display: block;width: 100%; height: 10px; background-color: #0099FF;"></span>
                  </div>
                  <br>
                  <div>
                    <label>Cours déja terminer</label>
                    <span style="display: block;width: 100%; height: 10px; background-color: #00a408"></span>
                  </div>
                  <br>
                  <div>
                    <label>Cours Annulé</label>
                    <span style="display: block;width: 100%; height: 10px; background-color: #797d9c"></span>
                  </div>
                  <br>
                  <div>
                    <label>Autre</label>
                    <span style="display: block;width: 100%; height: 10px; background-color: #ff7d30;"></span>
                  </div>
                </div>
                <div class="col-md-10">
                    <ngx-fullcalendar defaultView="month" [events]="events" [options]="options" (onDateClick)="clickJour($event)" (onEventClick)="clickEvent($event)"></ngx-fullcalendar>
                </div>
              </div>
        </div>
    </div>
</div>


<!-- MODAL AJOUTER PLANING -->

<div #modalAjoutPlanning class="modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="max-width: 95%" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">Insertion de nouveau planification</h6>
          <button type="button" class="close" (click)="fermeModalOrdreJour()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-md-12">
                    <div class="panel">
                      <div class="panel-body">
                        <fieldset class="col-md-12">
                          <legend>Ajouter planification</legend>
                          <div class="panel">
                            <div class="panel-body">
                              <div class="row interligne">
                                <div class="col-md-3">
                                  <label class="control-label texte-content">Date Début</label> 
                                </div>
                                <div class="col-md-9" style="text-align: center;">
                                  <input style="text-align: center;" type="text" class="form-control"
                                    value="{{infoPlanning.plan.datedebut | date :'dd/MM/yyyy'}}" readonly>
                                </div>
                              </div>
                              <div class="row interligne">
                                <div class="col-md-3">
                                  <label class="control-label texte-content">Date Fin mission</label>
                                </div>
                                <div class="col-md-9" style="text-align: center;">
                                  <input style="text-align: center;" type="date" [(ngModel)]="infoPlanning.plan.datefin"class="form-control">
                                </div>
                              </div>
                            </div>
                          </div>
                        </fieldset>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-8">
                <ngx-select required placeholder="Liste cours à planififer" noResultsFound="Pas de résultat">
                </ngx-select>
              </div>
              <div class="col-4">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-10">
                        <ngx-select required placeholder="Categorie"  noResultsFound="Pas de résultat">
                        </ngx-select>
                      </div>
                      <div class="col-sm-2">
                        <button class="btn btn-info"><i class="fa fa-plus"></i></button>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-12">
                        <ngx-select required placeholder="Liste controlleur" noResultsFound="Pas de résultat">
                        </ngx-select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
  
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-md-12">
                    <div class="panel">
                      <div class="panel-body">
                        <fieldset class="col-md-12">
                          <legend>Liste des cours à planifier</legend>
                          <div class="panel">
                            <div class="panel-body">
                              <div class="row interligne">
                                <div class="col-12">
                                  <table class="table table-bordered">
                                    <tr>
                                      <td>Date et heure</td>
                                      <td>Cours</td>
                                      <td>Categorie</td>
                                      <td>Client</td>
                                      <td>Observation</td>
                                      <td>Ficher de controle</td>
                                    </tr>
                                    <tr >
                                      <td></td>
                                      <td><span></span></td>
                                      <td></td>
                                      <td> <br></td>
                                      <td><textarea class="form-control"></textarea></td>
                                      <td>
                                      </td>
                                      <td>
                                        <button class="btn btn-danger  btn-block" ><span
                                            class="fa fa-trash"></span></button>
                                      </td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </fieldset>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-md-12">
                    <div class="panel">
                      <div class="panel-body">
                        <fieldset class="col-md-12">
                          <legend>Liste des controlleur</legend>
                          <div class="panel">
                            <div class="panel-body">
                              <div class="row interligne">
                                <div class="col-12">
                                  <table class="table table-bordered">
                                    <tr>
                                      <td>Matricule</td>
                                      <td>Nom et Prénoms</td>
                                    </tr>
                                    <tr>
                                      <td></td>
                                      <td></td>
                                      <td>
                                        <button><span
                                            class="fa fa-trash"></span></button>
                                      </td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </fieldset>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div>
            <div class="form-group">
              <div class="col-md-12" style="text-align: right;">
                <button class="btn btn-info" (click)="fermeModalOrdreJour()">Annuler</button>
                <button class="btn btn-success">Valider
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  


  <!-- Info evenement -->

<div #modalInfoPlanning class="modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="max-width: 95%" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">Evenement</h6>
          <button type="button" class="close" (click)="fermerModalinfo()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-md-12">
                    <div class="panel">
                      <div class="panel-body">
                        <fieldset class="col-md-12">
                          <legend>Information evenement <b> {{infoPlanning.plan.titre}}</b></legend>
                          <div class="panel">
                            <div class="panel-body">
                              <div class="row interligne">
                                <div class="col-md-3">
                                  <label class="control-label texte-content">Date Début</label> 
                                </div>
                                <div class="col-md-9" style="text-align: center;">
                                  <input style="text-align: center;" type="text" class="form-control"
                                    value="{{infoPlanning.plan.datedebut | date :'dd/MM/yyyy'}}" readonly>
                                </div>
                              </div>
                              <div class="row interligne">
                                <div class="col-md-3">
                                  <label class="control-label texte-content">Date Fin</label>
                                </div>
                                <div class="col-md-9" style="text-align: center;">
                                  <input style="text-align: center;" type="text" [(ngModel)]="infoPlanning.plan.datefin" class="form-control" readonly>
                                </div>
                              </div>
                            </div>
                          </div>
                        </fieldset>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-8">
                <input  placeholder="Thème" noResultsFound="Pas de résultat" class="form-control" readonly>
              </div>
              <div class="col-4">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-10">
                        <input required placeholder="Categorie"  noResultsFound="Pas de résultat" class="form-control" readonly>
                      </div>
                      <div class="col-sm-2">
                        <button class="btn btn-info"><i class="fa fa-plus"></i></button>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-12">
                        <input required placeholder="Controlleur" noResultsFound="Pas de résultat" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
  
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-md-12">
                    <div class="panel">
                      <div class="panel-body">
                        <fieldset class="col-md-12">
                          <legend>Liste des cours planifier</legend>
                          <div class="panel">
                            <div class="panel-body">
                              <div class="row interligne">
                                <div class="col-12">
                                  <table class="table table-bordered">
                                    <tr>
                                      <td>Date et heure</td>
                                      <td>Cours</td>
                                      <td>Categorie</td>
                                      <td>Client</td>
                                      <td>Observation</td>
                                      <td>Ficher de controle</td>
                                    </tr>
                                    <tr >
                                      <td></td>
                                      <td><span></span></td>
                                      <td></td>
                                      <td> <br></td>
                                      <td><textarea class="form-control"></textarea></td>
                                      <td>
                                      </td>
                                      <td>
                                        <button class="btn btn-danger  btn-block" ><span
                                            class="fa fa-trash"></span></button>
                                        <button class="btn btn-info  btn-block" ><i class="fas fa-edit"></i></button>
                                      </td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </fieldset>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-md-12">
                    <div class="panel">
                      <div class="panel-body">
                        <fieldset class="col-md-12">
                          <legend>Liste des controlleur</legend>
                          <div class="panel">
                            <div class="panel-body">
                              <div class="row interligne">
                                <div class="col-12">
                                  <table class="table table-bordered">
                                    <tr>
                                      <td>Matricule</td>
                                      <td>Nom et Prénoms</td>
                                    </tr>
                                    <tr>
                                      <td></td>
                                      <td></td>
                                      <td>
                                        <button><span
                                            class="fa fa-trash"></span></button>
                                      </td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </fieldset>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
              <div class="col-md-12">
                  <div class="col-md-6"></div>
                  <div class="col-md-2">
                    <button class="btn btn-success btn-block">Achever
                    </button>
                  </div>
                  <div class="col-md-2">
                    <button class="btn btn-info btn-block">Modifier
                    </button>
                  </div>
                  <div class="col-md-2">
                    <button class="btn btn-danger btn-block" (click)="fermerModalinfo()">Fermer</button>
                  </div>
              </div>
      </div>
    </div>
  </div>
  